/* your styles go here */
h1 {
	font-family: 'Montserrat';
}

.overlay
{
	opacity: 0;
}

#intro
{
	min-height: unset;
	height: unset;
}

#intro strong
{
	padding: 0 0 0 1em !important;
	font-size: 5em !important;
}

@media (max-width: 770px)
{
	#intro strong
	{
		font-size: 4em !important;
	}
}

#contact {
	width: 90%;
}

.form-control
{
	background-image: none !important;
}

#__lpform_name_icon {
	opacity: 0;
}
